# This file is a template, and might need editing before it works on your project.
# see https://docs.gitlab.com/ce/ci/yaml/README.html for all available options

# you can delete this line if you're not using Docker

stages:
  - build
  - test
  # - package
  - release


# before_script:

# after_script:
#   - echo "After script section"
#   - echo "For example you might do some cleanup here"


variables:
  RELEASE_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  BASE_IMAGE: registry.gitlab.com/kosay/xnat/core:1.0

build_code:
  image: $BASE_IMAGE
  stage: build
  script:
    - make -j
  artifacts:
    name: $CI_JOB_NAME-$CI_COMMIT_REF_NAME
    paths:
      - bin/
      - script/
      - test/
      - Dockerfile
    expire_in: 1 day

# build_image:
#   stage: package
#   image: docker:19.03.1
#   services:
#     - docker:19.03.1-dind
#   script:
#     - echo "gitlab registry login"
#     - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
#     - docker build . --cache-from $BASE_IMAGE -t $RELEASE_IMAGE
#     - docker push $RELEASE_IMAGE

code_analysis:
  stage: test
  image: $BASE_IMAGE
  script:
    - ./script/code_analysis.sh

test:
  stage: test
  image: $BASE_IMAGE
  script:
    - ./test/test.sh

release:
  stage: release
  image: $BASE_IMAGE
  script:
    - ls -R
    - bin/xnat --help
